/* Resetujemy wszelkie domyślne marginesy przeglądarki */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F9FB; /* Domyślne tło dla całej aplikacji */
}

/* Wymuszamy, by główny kontener Vue zajmował pełny ekran */
#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; /* Nadpisujemy blokadę z Vite */
}